<!DOCTYPE html>
<html lang="en">
<head>
    <!-- This is the first page that the users see when they enter the application -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Tracker System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to the Patient Tracker System</h1>
        <a class="doctor-link" href="\doctor_login">Doctor Login</a>
        <a class="patient-link" href="\patient_login">Patient Login</a>
        <a class="patient-link" href="\patient_register">New Patient register</a>
    </div>
</body>
</html>