body {
  font-family: Arial, sans-serif;
  margin: 20px;
  margin-left: 40px;
  background-color: #f4f4f4;
}

.patient-details {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff;
}

.btn {
  background-color: #3498db; /* Changed to blue */
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 10px;
  cursor: pointer;
}

.btn:hover {
  background-color: #3498db; /* Darker blue on hover */
}

/* Style the editable fields */
.patient-details span[contenteditable="true"] {
  border-bottom: 1px dashed #777;
  cursor: text;
}

.patient-details span[contenteditable="true"]:focus {
  outline: none;
  border-bottom: 1px dashed #3498db; /* Blue border on focus */
}

#logout {
  margin-top: 20px;
  margin-bottom: 30px;
}

form button {
  background-color: #2ecc71;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}